body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

body {
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
    -webkit-user-select: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    font-style: italic; 
    font-weight: bold; 
    font-size: 100px; 
    line-height: 1.2em;
    margin-bottom:0px;
    margin-top:0px;
    color: white;
    text-shadow: 5px 5px 80px rgba(0,0,0,50);
    display: none;
}

h2 {
    font-style: normal; 
    font-weight: normal; 
    font-size: 48px; 
    line-height: 1.2em;
    margin-bottom:0px;
    margin-top:0px;
    color: white;
    text-shadow: 5px 5px 50px rgba(0,0,0,50);
    display: none;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    min-height: 98vh;
    color: white;
  }

#bg {
    position: fixed; 
    top: -10%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -1;
    display: none;
  }

#bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 100%;
}