@font-face {
  src: url('fonts/FormaDJRBanner-BoldItalic.eot'); /* IE < 9 */
  src: url('fonts/FormaDJRBanner-BoldItalic.eot?#') format("embedded-opentype"), /* IE 9 */
       url('fonts/FormaDJRBanner-BoldItalic.woff2') format("woff2"),
       url('fonts/FormaDJRBanner-BoldItalic.woff') format("woff");
  font-family: 'FormaDJRBanner';
  font-style: italic;
  font-weight: bold;
  }

@font-face {
  src: url('fonts/FormaDJRDisplay-Regular.eot'); /* IE < 9 */
  src: url('fonts/FormaDJRDisplay-Regular.eot?#') format("embedded-opentype"), /* IE 9 */
          url('fonts/FormaDJRDisplay-Regular.woff2') format("woff2"),
          url('fonts/FormaDJRDisplay-Regular.woff') format("woff");
  font-family: 'FormaDJRDisplay';
  font-style: normal;
  font-weight: normal;
  }

body {
  background-color: black;
  -webkit-user-select: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-family: 'FormaDJRBanner';
  font-style: italic; 
  font-weight: bold; 
  font-size: 100px;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.2em;
  margin-bottom:0px;
  margin-top:0px;
  color: white;
  text-shadow: 5px 5px 80px rgba(0,0,0,50);
  display: none;
}

h2 {
  font-family: 'FormaDJRDisplay';
  font-style: normal; 
  font-weight: normal; 
  font-size: 48px; 
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.2em;
  margin-bottom:0px;
  margin-top:0px;
  color: white;
  text-shadow: 5px 5px 50px rgba(0,0,0,50);
  display: none;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  min-height: 98vh;
  color: white;

}

.header {
  position: relative;
  visibility: hidden;
}

#bg {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#bg img {
  position: absolute;
  top: auto;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.album {
  object-fit: cover;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#full {
  padding: 10px;
  float: right;
  color: white;
}

#seek {
  padding: 10px;
  color: white;
  position: absolute;
  left: 55%;
}

#toggle {
  padding: 10px;
  color: white;
  position: absolute;
  left: 50%;
}

#previous {
  padding: 10px;
  color: white;
  position: absolute;
  left: 45%;
}