@font-face {
    src: url('fonts/FormaDJRBanner-BoldItalic.eot'); /* IE < 9 */
    src: url('fonts/FormaDJRBanner-BoldItalic.eot?#') format("embedded-opentype"), /* IE 9 */
         url('fonts/FormaDJRBanner-BoldItalic.woff2') format("woff2"),
         url('fonts/FormaDJRBanner-BoldItalic.woff') format("woff");
    font-family: 'FormaDJRBanner';
    font-style: italic;
    font-weight: bold;
    }

@font-face {
    src: url('fonts/FormaDJRDisplay-Regular.eot'); /* IE < 9 */
    src: url('fonts/FormaDJRDisplay-Regular.eot?#') format("embedded-opentype"), /* IE 9 */
            url('fonts/FormaDJRDisplay-Regular.woff2') format("woff2"),
            url('fonts/FormaDJRDisplay-Regular.woff') format("woff");
    font-family: 'FormaDJRDisplay';
    font-style: normal;
    font-weight: normal;
    }

body {
    padding: 5em;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'FormaDJRBanner';
    font-style: italic; 
    font-weight: bold; 
    font-size: 128px; 
    line-height: 1.2em;
    margin-bottom:0px;
    margin-top:0px;
}

h2 {
    font-family: 'FormaDJRDisplay';
    font-style: normal; 
    font-weight: normal; 
    font-size: 48px; 
    line-height: 1.2em;
    margin-bottom:0px;
    margin-top:0px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    min-height: 83vh;
  }