@font-face {
  src: url("fonts/FormaDJRBanner-BoldItalic.eot"); /* IE < 9 */
  src: url("fonts/FormaDJRBanner-BoldItalic.eot?#") format("embedded-opentype"),
    /* IE 9 */ url("fonts/FormaDJRBanner-BoldItalic.woff2") format("woff2"),
    url("fonts/FormaDJRBanner-BoldItalic.woff") format("woff");
  font-family: "FormaDJRBanner";
  font-style: italic;
  font-weight: bold;
}

@font-face {
  src: url("fonts/FormaDJRDisplay-Regular.eot"); /* IE < 9 */
  src: url("fonts/FormaDJRDisplay-Regular.eot?#") format("embedded-opentype"),
    /* IE 9 */ url("fonts/FormaDJRDisplay-Regular.woff2") format("woff2"),
    url("fonts/FormaDJRDisplay-Regular.woff") format("woff");
  font-family: "FormaDJRDisplay";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/FormaDJRText-Regular.eot'); /* IE < 9 */
  src: url('fonts/FormaDJRText-Regular.eot?#') format("embedded-opentype"), /* IE 9 */
       url('fonts/FormaDJRText-Regular.woff2') format("woff2"),
       url('fonts/FormaDJRText-Regular.woff') format("woff");
  font-family: 'FormaDJRText';
  font-style: normal;
  font-weight: normal;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 150px;
  }
  h2 {
    font-size: 62.5px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    text-shadow: 5px 5px 30px rgba(0, 0, 0, 50);
  }
  h2 {
    font-size: 15px;
    text-shadow: 5px 5px 30px rgba(0, 0, 0, 50);
  }
}

@keyframes slideOutOptions {
  0% {bottom: 0px}
  100% {bottom: -160px}
}

@keyframes slideInOptions {
  0% {bottom: -160px}
  100% {bottom: 0px}
}

.hideAnimation {
  animation: slideOutOptions 0.5s cubic-bezier(.01,.71,.22,.99) !important
}

body {
  background-color: black;
  -webkit-user-select: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
}

header {
  margin: -40px;
  padding: 50px;
  letter-spacing: 5px;
  color: white;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  position: fixed;
  width: calc(100% - 35px);
  height: 25%;
  z-index: 1;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  height: 25%;
  letter-spacing: 5px;
}

.titlebar-drag-region {
  display: block;
  position: absolute;
  width: calc(100% - 81px);
  height: 50%;
  z-index: -1;
  -webkit-app-region: drag;
  top: 40px;
  left: 40px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  min-height: 98vh;
  color: white;
}

h1 {
  font-family: "FormaDJRBanner";
  font-style: italic;
  font-weight: bold;
  font-size: 12vw;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.2em;
  margin-bottom: 0px;
  margin-top: 0px;
  color: white;
  text-shadow: 5px 5px 80px rgba(0, 0, 0, 50);
  display: none;
  z-index: -1;
}

h2 {
  font-family: "FormaDJRDisplay";
  font-style: normal;
  font-weight: normal;
  font-size: 5vw;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.2em;
  margin-bottom: 0px;
  margin-top: 0px;
  color: white;
  text-shadow: 5px 5px 50px rgba(0, 0, 0, 50);
  display: none;
  z-index: -1;
}

#bg {
  position: fixed;
  top: 0%;
  left: -50%;
  width: 200%;
  height: 100%;
  z-index: -2;
  display: none;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 100%;
  object-fit: cover;
  height: 100%;
}

#bg video {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 100%;
  object-fit: cover;
  height: 100%;
}

.mac {
  letter-spacing: normal;
}

i:hover {
  cursor: pointer;
}

i {
  font-style: normal;
}

#media-controls i {
  opacity: 50%;
  transition: 0.1s;
}
#media-controls i:hover {
  opacity: 77%;
}
#media-controls i:active {
  font-size: 95%;
}

#option-button {
  opacity: 50%;
  transition: 0.1s;
}
#option-button:hover {
  opacity: 77%;
}
#option-button:active {
  font-size: 95%;
}

header i {
  opacity: 50%;
  transition: 0.1s;
}
header i:hover {
  opacity: 77%;
}
header i:active {
  font-size: 95%;
}

#volume-knob {
  opacity: 50%;
}
#volume-knob:hover {
  opacity: 70%;
  cursor: pointer;
}
#volume-knob:active {
  opacity: 85%;
}
#volume-knob:focus {
  outline-width: 0;
}

#options {
  position: absolute;
  width: 140px;
  background-color: rgba(0,0,0, 0.5);
  bottom: 0px;
  text-align: left;
  font-family: "FormaDJRText";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0px;
  display: none;
  z-index: -1;
  padding-bottom: 20px;
  height: 140px;
  animation: slideInOptions 0.5s cubic-bezier(.01,.71,.22,.99);
  backdrop-filter: blur(10px) saturate(125%);
}
#options ul {
  margin-left: 10px;
  padding: 5px;
  visibility: hidden;
  line-height: 25px;
  font-size: 15px;
}
#options i {
  visibility: visible;
}
#options i:hover {
  opacity: 80%;
}
#options i:active {
  opacity: 70%;
}

#devices-wrapper {
  display: none;
}


#progressbar {
  background-color: white;
  border-radius: 2px 0 0 0;
  opacity: 75%;
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0px;
  right: 100%;
}

.repeat-1 {
  font-family: "FormaDJRDisplay";
  position: fixed;
  font-size: 12px;
}
